<div class="col-xs-10">

<div class="jumbotron">
  <h1>Welcome to Collateral!</h1>
  <p>The easy way to design flyers.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Start Now!</a></p>
</div>
</div>